* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Fonts
@font-face {
  font-family: "clarika";
  src: url(../fonts/ClarikaProGrot-Rg.woff);
}
@font-face {
  font-family: "clarika-it";
  src: url(../fonts/ClarikaProGrot-It.woff);
}
@font-face {
  font-family: "clarika-md";
  src: url(../fonts/ClarikaProGrot-Md.woff);
}
@font-face {
  font-family: "clarika-md-it";
  src: url(../fonts/ClarikaProGrot-MdIt.woff);
}
@font-face {
  font-family: "clarika-bd";
  src: url(../fonts/ClarikaProGrot-Bd.woff);
}
@font-face {
  font-family: "clarika-bd-it";
  src: url(../fonts/ClarikaProGrot-BdIt.woff);
}

// Variables
$yellow: yellow;

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

html {
  min-height: 100%;
  background-size: cover;
  background: linear-gradient(
      -45deg,
      rgba(0, 0, 0, 0.204),
      rgba(0, 0, 0, 0.475)
    ),
    url("/assets/Background.png");
}

body {
  font-family: "clarika";
  // overflow-x: hidden;
}
button {
  font-family: "clarika-md";
  cursor: pointer;
}

h1,
h2,
h3 {
  font-family: "house-of-cards";
  margin-bottom: 10px;
}

h1 {
  font-size: 72px;
}
h2 {
  font-size: 36px;
}
h3 {
  font-size: 24px;
}

p {
  margin-bottom: 10px;
}

nav {
  position: fixed;
  bottom: 30px;
  left: 50%;
  transform: translateY(-50%);
  transform: translateX(-50%);
  z-index: 100;
}

.nav {
  @include flex(row, center, center);
  .nav-wrp {
    @include flex(row, center, center);
    padding: 10px 30px;
    gap: 30px;
    background: rgba(0, 0, 0, 0.442);
    border-radius: 10px;
    backdrop-filter: blur(10px);
  }
}

.button {
  padding: 8px 14px;
}
.button.primary {
  background: white;
  border: 1px solid transparent;
  border-radius: 5px;
}

.button.secondary {
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  color: white;
}
.buttons {
  @include flex(row, center, center);
  gap: 20px;
}

.sound-on {
  display: none;
}

.line {
  width: 1px;
  height: 50px;
  background: rgba(255, 255, 255, 0.259);
}

.card {
  border-radius: 5px;
  :hover {
    border: 3px solid $yellow;
    filter: drop-shadow(0px 0px 15px $yellow);
  }
  img {
    border-radius: 5px;
    border: 3px solid black;
  }
}

.deck {
  @include flex(column, center, center);
  width: 100%;
}
.deck-row {
  @include flex(row, center, center);
  max-width: 1200px;
  margin: 0 0 -120px -80px;
  .card {
    // max-width: 200px;
    margin-right: -80px;
    img {
      width: 100%;
      max-width: 100px;
    }
  }
}
.deck-row:nth-child(even) {
  transform: translateX(35px);
}

.deck-row:nth-child(1) {
  z-index: 1;
}
.deck-row:nth-child(2) {
  z-index: 2;
}
.deck-row:nth-child(3) {
  z-index: 3;
}
.deck-row:nth-child(4) {
  z-index: 4;
}

.picked-cards {
  width: 100%;
  @include flex(row, center, center);
  padding: 40px 0;
}
.picked-cards-wrp {
  @include flex(row, flex-start, center);
  max-width: 1200px;
  padding: 40px;
  overflow-y: hidden;
}
.picked-card {
  margin: 0px 20px;
  img {
    width: 200px;
  }
}

// Popup

.exit {
  width: 100%;
  max-width: 1000px;
  cursor: pointer;
  @include flex(row, flex-end, center);
  img {
    width: 33px;
    height: auto;
  }
}
.popup {
  background: black;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: 101;
  color: white;
  padding: 60px;
  @include flex(column, flex-start, center);
  gap: 60px;
  overflow-y: scroll;

  .popup-ctn {
    @include flex(column, center, center);
    width: 100%;
    .popup-wrp {
      max-width: 1000px;
      @include flex(row, center, flex-start);
      gap: 100px;
      .popup-wrp__card {
        @include flex(column, center, stretch);
        gap: 20px;
        .picked-card {
          margin: 0;
        }
      }
    }
  }
  .desc-h2 {
    margin-top: 40px;
  }
}
.popup.d-none {
  display: none !important;
}

.d-none {
  display: none !important;
}

.reversed {
  transform: rotate(180deg);
}

.reversed-text::after {
  content: " (Reversed)";
}

// Save popup
.save-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 101;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.673);
  backdrop-filter: blur(10px);

  @include flex(column, center, center);

  .save-popup__ctn {
    @include flex(column, center, flex-start);
    gap: 30px;
    background: white;
    max-width: 400px;
    padding: 25px 50px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 15px rgba(255, 255, 255, 0.322));

    .save-popup__wrp {
      @include flex(column, center, center);
      gap: 20px;

      h2 {
        margin: 0;
      }
      .input-text {
        width: 100%;
      }
    }
  }
}

.primary.black {
  background: black;
  color: white;
}

.secondary.black {
  color: black;
  border: 1.5px solid black;
}

.exit.black {
  filter: invert(100);
}

input {
  font-size: 18px;
  padding: 5px;
  border-radius: 5px;
}

// Load popup
.load-popup-buttons {
  @include flex(row, space-between, center);
  width: 100%;
  padding: 0;
  .exit {
    width: auto;
  }
}

.save-popup__ctn.load {
  width: 100%;
  max-width: 1400px;
  align-items: flex-start;
  justify-content: flex-start;
}

.save-popup__wrp.load {
  width: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}

.load-cards-wrp {
  display: block;

  columns: 2;

  &::before {
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
  }
  &::after {
    clear: both;
    content: " ";
    display: table;
    grid-column-start: 1;
    grid-row-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
  }
  .load-card {
    background: grey;
    width: 230px;
  }
}

.save-popup.load {
  align-items: flex-start;
  justify-content: flex-start;
}
